[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "/Users/daniels/.vim/bundle/puppet"]
	path = /Users/daniels/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "/Users/daniels/.vim/bundle/vim-nerdtree-tabs"]
	path = /Users/daniels/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "/Users/daniels/.vim/bundle/lightline"]
	path = /Users/daniels/.vim/bundle/lightline
	url = http://github.com/itchyny/lightline.vim
[submodule "/Users/daniels/.vim/bundle/tmuxline"]
	path = /Users/daniels/.vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
