[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = http://github.com/itchyny/lightline.vim
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "bundle/vim-terraform-completion"]
	path = bundle/vim-terraform-completion
	url = git@github.com:juliosueiras/vim-terraform-completion.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/vim-javacomplete2"]
	path = bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "bundle/syntastic-extras"]
	path = bundle/syntastic-extras
	url = git@github.com:myint/syntastic-extras.git
